$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// COLORS

$anthracite: #292A36;
$whitepurple: #E5D8EE;
$greypurple: #BC9ED2;
$whitepurple: #E5D8EE;

// GRADIENTS

$purplegradient: linear-gradient(
  to right,
  #4655FD 0%,
  #8C46FD 100%
);
$anthracitegradienttotop: linear-gradient(
  180deg,
  #292a362b 0%,
  #292A36 100%
);
$anthracitegradienttobottom: linear-gradient(
  0deg,
  #292a362b 0%,
  #292A36 100%
);
$darkpurplegradient: linear-gradient(
  to right,
  #2A2D4E 0%,
  #563A78 100%
);

// STYLES

$shadow: 5px 5px 10px rgba(0, 0, 0, 0.179);

// BACKGROUND

.card-gradient {
  background: linear-gradient(45deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(64, 52, 99, 0.75) 32%,
  rgba(64, 52, 99, 0) 49%,
  rgba(70, 53, 104, 0) 60%,
  rgba(75, 55, 110, 0.75) 83%,
  rgba(0, 0, 0, 1) 100%);
}
