// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "colors";

// Define fonts for body and headers
$body-font: 'Poppins', sans-serif;
$headers-font: 'Poppins', sans-serif;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

$dropshadow: drop-shadow(0px 0px 4px rgba(255, 255, 255, 0.202));
$dropshadow-icon: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.202));

$hoverscale: 1.05;
$blur: blur(1px);

$full-height: 73vh;
$trailer-height: $full-height / 3;
$content-height: $trailer-height * 2;
$full_width: 90vw;
