$dropshadow: drop-shadow(0px 0px 5px rgba(255, 255, 255, 0.291));
$hoverscale: 1.05;

.button-light {
  background-color: white;
  width: 150px;
  border-radius: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  box-shadow: $shadow;
  text-decoration: none;
}

.button-light:hover {
  scale: $hoverscale;
  filter: $dropshadow;
}

.button-right {
  float: right;
  margin-bottom: 30px;
}

.button-text {
  font-size: small;
  font-weight: 400;
  background: $purplegradient;
  -webkit-background-clip: text; // Limiter le gradient à la zone du texte
  -webkit-text-fill-color: transparent; // Rendre le texte transparent pour laisser apparaître le gradient
}

.button-watch {
  background-color: white; /* Fond blanc par défaut */
  width: 150px;
  border-radius: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  box-shadow: $shadow;
  color: gray;
  font-size: small;
  font-weight: 400;
  pointer-events: none;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.button-watch.active {
  color: white;
  background: $purplegradient;
  pointer-events: auto;
  cursor: pointer;
}

.button-watch.active .button-text {
  color: white !important;
  -webkit-text-fill-color: white !important; 
  text-decoration: none;
}

.playlist-edit-icon {
  width: 35px;
  box-shadow: $shadow;
}

.playlist-edit-icon:hover {
  scale: $hoverscale;
  filter: $dropshadow;
}

.button-form {
  font-size: small;
  font-weight: 400;
  color: white;
  background: $purplegradient;
  width: 150px;
  height: 30px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  box-shadow: $shadow;
  border: none;
  float: right;
}

.container-content input {
  border-radius: 40px;
  margin-top: 30px;
  margin-bottom: 30px;
}

::placeholder {
  text-align: start;
  font-weight: 200;
  font-size: small;
  padding: 5%;
}
