.modale-container {
  background-color: #292A36;
  border-radius: 10px;
  height: 90vh;
  width: 90vw;
  margin: auto;
}

.modale-container-trailer {
  height: 30vh;
  width: 90vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: absolute;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.modale-container-content {
  padding: 10%;
  height: 30vh;
  width: 90vw;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  top: 30vh;
}

.modale-quit-icon {
  float: right;
  width: 15px;
  margin: 5%;
  box-shadow: $shadow;
}

.modale-play-icon {
  width: 35px;
  margin: auto;
  position: relative;
  top: 45%;
  box-shadow: $shadow;
}

.modale-save-icon {
  width: 35px;
  position: relative;
  top: 0px;
  right: 0px;
  box-shadow: $shadow;
}

.modale-text-light {
  color: $whitepurple;
}

.modale-text-dark {
  color: $greypurple;
}
