.modale-container {
  position: relative;
  z-index: 1;
  background-color: #292A36;
  border-radius: 10px;
  height: $full-height;
  width: $full_width;
  top: 48%;
	left: 50%;
  transform: translate(-50%, -50%);
}

.modale-form-container {
  position: relative;
  z-index: 1;
  background-color: #292A36;
  border-radius: 10px;
  height: $full-height / 2;
  width: $full_width;
  top: 48%;
	left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: $shadow;
}

.modale-container-trailer {
  position: absolute;
  // z-index: 2;
  height: $trailer-height;
  width: $full_width;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.modale-container-content {
  padding-top: 30px;
  padding-bottom: 50px;
  z-index: 3;
  height: $content-height;
  width: $full_width;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  position: relative;
  top: $trailer-height;
  overflow: scroll;
}

.modale-container-content p {
  padding-left: 10%;
  padding-right: 10%;
}

.modale-container-content div {
  padding-left: 10%;
  padding-right: 10%;
}

.modale-container-above {
  padding: 10%;
  width: $full_width;
  position: absolute;
  top: $trailer-height;
	left: 50%;
  transform: translate(-50%, -50%);
  z-index: 6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modale-container-content-bottom {
  position: absolute;
  z-index: 4;
  bottom: 0px;
  background: $anthracitegradienttotop;
  height: 5vh;
  width: $full_width;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modale-container-content-top {
  position: absolute;
  z-index: 4;
  top: $trailer-height;
  background: $anthracitegradienttobottom;
  height: 5vh;
  width: $full_width;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.modale-quit-icon {
  float: right;
  width: 15px;
  margin: 5%;
  filter: $dropshadow-icon;
}

.modale-quit-icon-playlist {
  float: right;
  width: 15px;
  margin: 5%;
  filter: $dropshadow-icon;
  position: fixed;
  top: 0px;
  right: 0px;
}

.modale-quit-icon:hover {
  scale: $hoverscale;
}

.modale-quit-icon-trailer {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 10;
  filter: $dropshadow-icon;
  cursor: pointer;
}

.modale-quit-icon-trailer:hover {
  scale: $hoverscale;
}

.modale-play-icon {
  width: 35px;
  position: relative;
  z-index: 11;
  top: 50%;
	left: 50%;
  transform: translate(-50%, -50%);
  filter: $dropshadow-icon;
}

.modale-play-icon:hover {
  scale: $hoverscale;
}

.modale-save-icon {
  width: 35px;
  filter: $dropshadow-icon;
}

.modale-save-icon:hover {
  scale: $hoverscale;
}

.youtube-trailer-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: none;
}

.youtube-trailer-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  display: block;
  box-sizing: border-box;
  z-index: 1;
  overflow: hidden;
}
