<div class="container">
  <div class="container-content">
  <%# <div class="playlist-container-fade-top purple-gradient-top"> </div> %>
    <div class="playlists-container-content">
      <h1 class="aukera-h1">Mes playlists</h1>
      <div class="button-light button-right"><span class="button-text"><%= link_to "＋ Nouvelle playlist", new_playlist_path, data: { turbo_frame: 'movie-modal' } %></span></div>
        <div class="scroll-container" id="playlists-list">
          <% @playlists.each do |playlist| %>

          <%= render 'playlists/playlist', playlist: playlist %>

          <% end %>
        </div>
    </div>
  <%# <div class="playlist-container-fade-bottom"> </div> %>
</div>
</div>
